<!--DOCTYPE html-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>Exercise Tracker</h1>
    <div class="center">
      <div class="left">
        <h3>User</h3>
        <form id="info" action="/exercise/new-user" method="post">
          <label for="username">Enter name: </label>
          <input type="text" id="username" name="name">
          <input type="submit" value="OK">
        </form>
      </div>
      <div class="right">
        <h3>Exercise Register</h3>
        <form id="info"  action="/api/exercise/add" method="post">
          <ul>
            <li>
              <label for="username">User Id: </label>
              <input type="text" id="name" name="exerciseId" placeholder="ID">
            </li>
            <li>
              <label for="username">Description: </label>
              <input type="text" id="name" name="exerciseName" placeholder="description">
            </li>
            <li>
              <label for="username">Duration: </label>
              <input type="text" id="name" name="exerciseDuration" placeholder="duration">
            </li>
            <li>
              <label for="username">Date: </label>
              <input type="text" id="name" name="exerciseDate" placeholder="yyyy-mm-dd">
              <input type="submit" value="Enter">
            </li>
          </ul>
          </form>
        </div>
        <div class="bottom">
        <h3>Example of Usage</h3>
        <ul>
          <li>
            <h3>Use: </h3>
            <code>insert url</code>
          </li>
          <h4>To get all logs registered from user</h4>
          <li>
            <h3>Use: </h3>
            <code>insert url</code>
          </li>
          <h4>To get all logs registered for this user in the range between "fromdate" to
          "todate"
          </h4>
          <li>
            <h3>Use: </h3>
            <code>insert url</code>
          </li>
          <h4>To get all logs registered for this user in the range between "fromdate"
          to "todate" and "limit" the amount of logs you will recieve.
        </ul>
        </div>
      </div>
      <footer>By Lester Hairston</footer>
  </body>
</html>
